{% extends "base.html" %}
{% block content %}
  {% if current_address %}
    <main role="main" class="col-sm-8 ml-sm-auto col-md-8 pt-3">
      <h1>Overview</h1>
        <ul>
          <li>
            Address: {{ current_address.raw }}
          </li>
          <li>
            Balance: {{ current_balance }}
          </li>
        </ul>
      <h1>New transaction</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                 {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        <form class="form-horizontal" action="" method="post" name="make_transaction">
        {{ form.hidden_tag() }}
          <div class="control-group">
            <label class="control-label" for="receiver">Receiver's address</label>
            <div class="controls">
               {{ form.receiver(size=81) }}
             </div>
             <ul class="errors">
              {% for err in form.receiver.errors %}
                <li>{{ err }}</li>
              {% endfor %}
              {% if error %}
                <li>{{ error }}</li>
              {% endif %}
              </ul>
          </div>
          <div class="control-group">
            <label class="control-label" for="amount">Amount</label>
            <div class="controls">
               {{ form.amount }}
             </div>
              <ul class="errors">
              {% for err in form.amount.errors %}
                <li>{{ err }}</li>
              {% endfor %}
              </ul>
          </div>
        <button class="btn btn-large btn-primary" type="submit">Send transaction</button>
      </form>
    </main>
  {% endif %}
{% endblock %}