{% extends "base.html" %}

{% block content %}
  <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
    <h1>Log in</h1>
      <form action="" method="post" name="login">
        {{ form.hidden_tag() }}
        <p>
            Please enter your password:<br>
            {{ form.password(size=30) }}<br>
            {% if (form.password.errors or error) %}
              <ul class=errors>
              {% for err in form.password.errors %}
                <li>{{ err }}</li>
              {% endfor %}
              {% if error %}
                <li>{{ error }}</li>
              {% endif %}
              </ul>
            {% endif %}
        </p>
        <p><input type="submit" value="Log in"></p>
      </form>
  </main>
{% endblock %}