{% extends "base.html" %}

{% block content %}
  <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
    <h1>Log in</h1>
      <form class="form-horizontal" action="" method="post" name="login">
        {{ form.hidden_tag() }}
          <div class="control-group">
            <label class="control-label" for="receiver">Password</label>
            <div class="controls">
               {{ form.password(size=40) }}
             </div>
             <ul class="errors">
              {% for err in form.password.errors %}
                <li>{{ err }}</li>
              {% endfor %}
              </ul>
          </div>
        <button class="btn btn-large btn-primary" type="submit">Log in</button>
      </form>
  </main>
{% endblock %}